<footer class="footer">
  <div class="footer-container">
    <div class="footer-item">
      <a href="tel:+966505888280">
        <span>+966 50 588 8280</span><img src="assets/icon/call.png" alt="Phone Icon">
      </a>
    </div>
    <div class="footer-item">
      <a href="tel:+966542399681">
        <span>+966 54 239 9681</span><img src="assets/icon/call.png" alt="Phone Icon">
      </a>
    </div>
    <div class="footer-item">
      <a href="mailto:info@engveiw.com">
        <span>info@engveiw.com</span> <img src="assets/icon/email.png" alt="Email Icon">
      </a>
    </div>
    <div class="footer-item">
      <a href="https://www.google.com/maps/place/King+Saud+Rd,+Al+Mazruiyah,+Dammam+32414,+Saudi+Arabia/@26.421714,50.088655,17z/data=!3m1!4b1!4m6!3m5!1s0x3e49f8721349887b:0x5109b4317112001!8m2!3d26.421714!4d50.09123!16s%2Fg%2F11c210g91s?entry=ttu">
        <span>KING SAUD RD, AL-MAZRUIYAH DIST, DAMMAM 32414, SAUDI ARABIA</span><img src="assets/icon/location.png" alt="Location Icon">
      </a>
    </div>
  </div>
</footer>