<header>
    <!-- الشريط العلوي الجديد -->
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-contact">
                <a href="mailto:info@engveiw.com"><i class="fas fa-envelope"></i> info@engveiw.com</a>
                <a href="tel:+966505888280"><i class="fas fa-phone"></i> +966 50 588 8280</a>
            </div>
            <div class="top-bar-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="container main-header">
        <div class="logo">
            <img src="assets/imgae/معتمد لوجو دهبي 3d (1).png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#home">الرئيسية</a></li>
                <li class="has-dropdown">
                    <a href="#about">الشركة <img src="assets/icon/down-arrow (1).png" class="dropdown-arrow"></a>
                    <ul class="dropdown">
                        <li><a href="#about">من نحن</a></li>
                        <li><a href="#vision">عملائنا</a></li>
                    </ul>
                </li>
                <li><a href="#services">خدماتنا</a></li>
                <li><a href="#projects">مشاريعنا</a></li>
                <li><a href="#media">المركز الاعلامي</a></li>
                <li class="has-dropdown">
                    <a href="#contact">تواصل معنا <img src="assets/icon/down-arrow (1).png" class="dropdown-arrow"></a>
                    <ul class="dropdown">
                        <li><a href="#contact"> التوظيف</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
    </div>
</header>