<header>
    <div class="container">
        <div class="logo">
            <img src="assets/imgae/معتمد لوجو دهبي 3d (1).png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#home">الرئيسية</a></li>
                <li class="has-dropdown">
                    <a href="#about">الشركة <img src="assets/icon/down-arrow (1).png" class="dropdown-arrow"></a>
                    <ul class="dropdown">
                        <li><a href="#about">من نحن</a></li>
                        <li><a href="#vision">عملائنا</a></li>
                    </ul>
                </li>
                <li><a href="#services">خدماتنا</a></li>
                <li><a href="#projects">مشاريعنا</a></li>
                <li><a href="#media">المركز الاعلامي</a></li>
                <li class="has-dropdown">
                    <a href="#contact">تواصل معنا <img src="assets/icon/down-arrow (1).png" class="dropdown-arrow"></a>
                    <ul class="dropdown">
                        <li><a href="#contact"> التوظيف</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
    </div>
</header>